:root {
  --primary-color: #357b70;
  --active-color: #489c79;
  --visited-color: #05676e;
  --dark-grey: #2b2b2b;
  --border-color: rgba(0, 0, 0, 0.3);
  --font-body-size: 18px;
  --font-h1-size: 30px;
  --font-bold: 700;
  --font-reg: 400;
}

a {
  color: var(--primary-color);
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: var(--font-reg);
  font-size: var(--font-body-size);
  line-height: 1.6;
  height: 100vh;
}
body > div, body > section {
  padding: 0 20px
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-bold);
}

a:visited {
  color: var(--visited-color);
}

a:hover , a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

button, .button {
  /* overwrites browser defaults and resets the border */
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-color);
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
/* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
/* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 70px auto;
  text-align: start;
  /* display: flex;
  align-items: center;
  height: 50%; */
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 0 20 px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:first-child {
  margin-left: 20px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 20px;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.about, .cv {
  text-align: center;
}
.mountain-bird {
  padding: 20px;
  text-align: center;
}
.enjoy-list {
  text-align: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.skills-table {
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-form {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */

@supports (display: grid) {
  .project-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 10px;
  }
  .project-list__item {
  background-color: var(--light-gray);
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 5px;
  }
  .project-list__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  }
}

@keyframes bird-move {
  from {transform: translate(0, 50px);}
  to {transfrom: translate(0, 80px);}
}
#path200, #path202, #path204, #path210, #path212, #path216  {
  animation: 8s bird-move infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .contact-form {
    width: 100%;
  }
  .profile__portrait {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .contact-form {
    width: 75%;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
