:root {
  --active-color: #489c79;
  --primary-color: #033d41;
  --visited-color: #357b70;
  --bg-color: rgb(208, 237, 233);
  --font-body-size: 18px;
  --font-h1-size: 30px;
  --font-bold: 600;
  --font-reg: 400;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: var(--font-reg);
  font-size: var(--font-body-size);
  line-height: 1.6;
  min-height: 100vh;
  color: var(--primary-color);
  background-image: linear-gradient(to bottom right, lightblue, rgb(102, 215, 198), pink);
}
body > div, body > section {
  padding: 0 20px
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-bold);
}

#hi-text {
  margin-bottom: 0;
  font-size: 13px;
}

.name {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 50px;
  color: var(--primary-color);
  margin: 0;
}

#last-name {
  margin: 0;
  margin-left: 290px;
}
#engineer-text {
  font-size: 16px;
  margin-top: 0px;
  margin-left: 290px;
}

/* a:visited {
  color: var(--visited-color);

} */

a:hover , a:focus {
  color: #67caa1d4;
}

/* a:active {
  color: var(--active-color);

} */

button, .button {
  /* overwrites browser defaults and resets the border */
  border: 1px solid black;
  border-color: var(--primary-color);
  background-color: none;
  font-family: inherit;
  font-weight: var(--font-bold);
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
/* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
/* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 220px;
  height: auto;
  margin-right: 40px;
  border-radius: 65px;
}

.profile {
  max-width: 700px;
  margin: 15% auto;
  text-align: start;
}

.profile-text {
  margin-top: 20px;
}

.page-footer {
  clear: both;
  position: absolute;
  bottom: 10%;
  justify-content: center;
  left: 50%;
  margin-left: -45px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 0 20 px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:first-child {
  margin-left: 20px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 20px;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.c-logo {
  font-family: 'Zen Tokyo Zoo', cursive;
  text-decoration: none;
  margin: 10px 15px;
  font-size: 30px;
}

.about {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: 3fr;
}

.about-text {
  width: 600px;
  height: 240px;
  background-color: var(--bg-color);
  text-align: left;
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-left: -10px;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 1;
  margin-top: -160px;
}

.cv {
  text-align: center;
  padding: 20px;
}

.rainier {
  width: 350px;
  height: auto;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 1;
  margin-top: 40px;
  margin-left: 240px;
}

.arrow {
 margin-left: -40px;
 float: right;
}

.contact {
  background-color: var(--bg-color);
  width: 500px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

@keyframes floatup {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}

.contact-icon {
  animation-duration: 3s;
  animation-name: floatup;
}

.contact-email:hover{
  opacity: 50%;
}
.contact-linkedin:hover{
  opacity: 50%;
}

.work {
margin: 3% 1%;
}

.work h1 {
  margin-left: 10%;
  margin-bottom: 40px;
}

.project-img {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-img:hover {
  opacity: 0.5;
}

.chat-img:hover {
  opacity: 100%;
}

.project-github {
  display: inline-block;
  padding: 2em;
}

.project-github:hover {
  opacity: 0.5;
}

/* start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  clear: both;
  background-color: var(--bg-color);
 }

 /* end grid fallback */

.project-list__item h3{
  margin: 0 0;
 }

 .project-list__item p{
  font-size: 15px;
 }

.links {
  text-align: center;
 }

 .sub-text {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
 }

 .movie-theater {
  margin: 60px;
  width: 500px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
 .doc-img {
  width: 550px;
  height: auto;
  padding: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;

 }

.movie-app {
  /* float: right; */
  /* display: block; */
  width: 500px;
  height: auto;
  padding: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

 .login-app {
  width: 500px;
  height: auto;
  padding: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;

 }
.case-header {
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}

.case-content {
  margin-top: 70px;
  /* display:flex;
  flex-direction: row;
  margin-left: 30px;
  flex-wrap: wrap; */

}

.case-text {
  /* background-color: aliceblue; */
  border-radius: 10px;
  padding: 5px 15px;
  width: 600px;
  margin: 0 auto;
 }

.back-button {
  background-color: lightblue;
  text-align: align-right;
  display: block;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .project-list {
  display:grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 10px;
  margin: 0 10%;
  padding-bottom: 50px;
  }

  .project-list__item {
  width: auto;
  min-height: auto;
  margin: 0;
  padding: 5px;
  padding: 10px;

  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .profile__portrait {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
  }

  #last-name #engineer-text{
    margin: 0 0;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .contact-form {
    width: 75%;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 891px) {
  .arrow {
    display: none;
  }
  .about-text {
  margin-left: -10px;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 1;
  margin-top: -50px;
  }
  .rainier {
    grid-row-start: 2;
    grid-column-start: 1;
    margin-top: 40px;
    margin-left: -25px;;
  }
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 600px) {
  .about-text {
    width: 450px;
    height: auto;
  }
  .social-media {
  position: relative;
  justify-content: center;
  margin-bottom: -30px;
  margin-left: 0px;
  float: bottom;
  }
}
